<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="images/png" href="/images/logo.jpg">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <title>Woman Signup</title>
    <style>
        .customborder {
            border-radius: 2%;
            border: 2px solid black;
            background-color: blanchedalmond;
        }
    </style>
</head>

<body>
    <div class="container">
      <% if (success_message != ''){ %>
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong> <%= success_message %> </strong>
        </div>
        <% } %>
        <% if( error != '') { %>
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong><%= error %></strong>
        </div>
        <% } %>
        <h3 class="text-center p-3">Woman Signup</h3>
        <div style="margin: 0 auto;" class="col-12 col-md-6 col-lg-5 p-5 customborder">
          <form action="/woman/signup" method="POST">
                <div class="form-group">
                    <label for="phonenumber">Enter Your phonenumber</label>
                    <input type="text" class="form-control" name="woman_phonenumber" id="phonenumber" autocomplete="off"
                        placeholder="phonenumber">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="woman_name" id="name" autocomplete="off"
                        placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="Date Of Birth">Date Of Birth</label>
                    <input type="date" class="form-control" name="woman_date_of_birth" id="name" autocomplete="off"
                        placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="password">Choose A Password</label>
                    <input type="password" class="form-control" name="password" id="password" autocomplete="off"
                        placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="confirmpassword">Confirm Your Password</label>
                    <input type="password" class="form-control" name="confirmPassword" id="confirmpassword"
                        autocomplete="off" placeholder="Confirm Password">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Register">
                </div>
                <p>Already Registered ? <a class="card-link" href="/woman/login">Login</a> </p>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>