<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="Description" content="" />
    <meta name="Keywords" content="Gullak" />
    <link rel="icon" type="images/png" href="/images/logo.jpg" />
    <meta name="author" content="CodeMagicians" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/all.css" />
    <title>Woman Documentation</title>
  </head>

  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container-fluid">
          <div class="row" id="p">
            <div class="col-sm-8 col-md-7 py-4">
              <a href="/">
                <h4 class="text-white">Naari</h4>
              </a>
              <p class="text-muted">
                At Naari, our aim is to enhance the financial independence of
                women and integrate them into the mainstream money related
                matters. We believe that in the 21 st century, for India to
                become a world leader equal participation of women is required
                and the real key to uplift women lies in their financial
                literacy. Thus, we came up with a solution, a portal uniquely
                designed for women- the Naari.
              </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter </a></li>
                <li><a href="#" class="text-white">Like on Facebook </a></li>
                <li><a href="#" class="text-white">Email us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container-fluid"></div>
        <a href="#" class="navbar-brand">
          <i class="far fa-file-alt"></i>&nbsp;&nbsp;
          <strong>Woman Documentation</strong>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarHeader"
          aria-controls="navbarHeader"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </header>
    <br />
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Upload Documents</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="www.example.com"
                    ><strong>Uplaod Aadhar From Digilocker</strong></a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a href="www.example.com"
                    ><strong>Uplaod Pan From Digilocker</strong></a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a href="www.example.com"
                    ><strong>Uplaod Photo From Computer</strong></a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Uploaded Documents</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!--ALERT FOR TEAM 2 => make the text color green for these...-->
                <td style="color: green;"><B>Your Aadhar is uploaded</B></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <h3>
            <B><U>Why we need documents?</U></B>
          </h3>
          <p style="color: darkred;">
            These documents are essential to every citizen since they are
            recognized as proof of identity and proof of residence and are
            accepted all over India. One can even avail various subsidies run by
            the central and state governments upon their eligibility by
            producing these documents.
          </p>
          <p style="color: darkred;">
            These documents are required for variety of services such as getting
            Passport, opening Bank Account, LPG subsidy , Scholarships and
            Pension.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3>
            <B><U>What is Digilocker ?</U></B>
          </h3>
          <p style="color: darkred;">
            On the Digilocker platform, every individual who signs up gets a
            dedicated amount of cloud storage liked to their Aadhar or Mobile
            number.
          </p>
          <p>The benefits of DigiLocker:</p>
          <p style="color: darkred;">
            The digital documents can be accessed anytime, anywhere. The self
            uploaded documents can be digitally signed. These documents are
            valid for government services and schemes.
          </p>
        </div>
        <div class="col-md-4">
          <h3>
            <B><U>What is Aadhar Card ?</U></B>
          </h3>
          <p style="color: darkred;">
            Aadhar card is a document issued by the Government of India which
            contains the 12-digit unique identification number which serves as a
            proof of identity and address, anywhere in India. It takes into
            account of an individual’s biometric details like fingerprint and
            iris scan.
          </p>
          <p style="color: darkred;">
            Any individual, irrespective of age and gender, who is a resident in
            India and satisfies the verification process laid down by the UIDAI
            can enroll for Aadhaar.
          </p>
        </div>
        <div class="col-md-4">
          <h3>
            <B><U>What is Pan Card ?</U></B>
          </h3>
          <p style="color: darkred;">
            PAN stands for Permanent Account N​umber and it is a 10 digit
            alpha-numeric number issued by the Income Tax Department.
          </p>
          <p style="color: darkred;">
            A PAN enables the Income tax Department to keep a track of all
            financial transactions of an individual or a firm. PAN card is
            essential for every taxpayer as it regulates the flow of cash.
          </p>
          <p style="color: darkred;">
            The government has made it mandatory to quote your PAN for large
            transactions and it is suggested for every business furnish all
            their monetary activities.
          </p>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
